/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  } */
/* .container {
    width: 1920px;
    height: 2551px;
    background: #FFF;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxy;
}

.container {
  width: 100%;
}


.header-nav {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-bottom: 1px solid #404040;
  /* color: #f0f0f0; */
  background: #0C0C0C;
}

/* .header-nav-left {
  padding: 0px 240px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
} */

.header__subnav-mount {
  display: flex;
  height: 40px;
  padding: 0px 110px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  /* background-color: #74bb53; */
}

.header__container {
  display: flex;
  width: 100%;
  height: 40px;
  /* max-width: 1440px; */
  padding: 0px 27px;
  justify-content: space-between;
  align-items: flex-start;
}

.header-left {
  display: flex;
  height: 40px;
  width: 50vw;
  padding-right: 10px;
  /* justify-content: center; */
  align-items: center;
  flex-shrink: 0;
  /* background-color: aqua; */
}

.header-right {
  display: flex;
  height: 40px;
  padding: 0px 0px 0px 40px;
  justify-content: flex-end;
  /* background-color: aquamarine; */
  align-items: center;
}

.img-menu {
  padding-right: 19px;
  /* padding: 2.5px 0px 5.5px 0px; */
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.img-cn {
  width: 38px;
  height: 38px;
}

.content-us {
  display: flex;
  width: 38px;
  height: 38px;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  /* align-self: stretch; */
  color: #FFFFFF
}

.span-brand-us {
  display: flex;
  padding: 7px 0px 6px 0px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #FFF;
  /* font-family: "Helvetica Neue"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.crime-justice {
  /* display: flex;
  padding-left: 10px;
  flex-direction: column;
  padding: 0px 2px; */
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

}

.crime-link {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.energy-environment {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.energy-link {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.extreme-weather {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  padding-right: 2px;
}

.extreme-link {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.space-science {
  display: flex;
  padding: 0px 12px;
  /* padding-left: 20px; */
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  padding-right: 2px;


}

.space-link {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.header-right {
  width: 239px;
  height: 34px;
  /* flex: st; */
  display: flex;
  padding: 3px 0.36px 3px 20px;
  justify-content: flex-end;
  align-items: center;
}

.audio {
  display: flex;
  padding-right: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 40px;
  height: 40px;

}

.audio-link {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.live-tv {
  /* width: 40px;
  height: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.live-link {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.search-button {
  display: flex;
  padding-left: 24px;
  flex-direction: column;
  align-items: flex-start;
}

.search-img {
  display: flex;
  height: 32px;
  padding: 2.5px 0px 5.5px 0px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.log-in {
  display: flex;
  /* height: 32px; */
  padding: 1px 9px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  /* border-radius: 1px solid white; */
  /* border-top-right-radius: 40%; */
  border-radius: 8px;
  border: 1px solid #FFF;
  margin-left: 10px;
}

.log-in-span {
  color: #FFF;
  text-align: center;
  /* font-family: "Helvetica Neue"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.2px;
}